<nav class="flex flex-col border-2 border-solid rounded-xl p-2 h-screen gap-2">
  @for (item of menuItems(); track item.id) {
    <a class="flex items-center w-full rounded-md cursor-pointer hover:bg-gray-200  hover:text-black p-1" 
      routerLinkActive="bg-blue-500 text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="item.path">
      <q-lottie-icon  width="2.5rem" height="2.5rem" [iconSource]="item.iconUrl"></q-lottie-icon>
      <div [class.hidden]="!sidebarStatus()"  class="ml-2 overflow-hidden transition-all duration-500 ease-in-out flex items-center text-nowrap text-xl">{{item.name}}</div>
    </a>
  }
</nav>
