<div class="flex rounded-xl flex-col min-h-fit">
  <div class="mt-4 grid grid-cols-1 lg:grid-cols-6 grid-rows-[auto_auto_auto_auto_auto_auto] gap-4 min-w-72">
    <!-- Project Overview -->
    <div class="bg-white rounded-2xl shadow p-4 lg:col-span-4">
      <q-header [isShowNavigate]="false" title="{{'project_overview'| translate}}"></q-header>
      <div class="flex gap-4 mt-2">
        @if(projectResource.hasValue()) {
        <p-progressbar [value]="projectResource.value().data.projectProgress" [attr.aria-valuemin]="0"
          [attr.aria-valuemax]="100" [attr.aria-valuenow]="projectResource.value().data.projectProgress"
          aria-label="Project progress" unit="%" [showValue]="true" class="w-full" />
        <div class="min-w-fit grid grid-cols-2 border-2 rounded-md p-2 gap-2">
          <q-lottie-icon (click)="handleNavigateClick('reports-and-analytics')" width="3rem" height="3rem"
            iconSource="/assets/icons/animation/advantage.json"></q-lottie-icon>
          <q-lottie-icon (click)="handleNavigateClick('time-estimation-management')" width="3rem" height="3rem"
            iconSource="/assets/icons/animation/calculator.json"></q-lottie-icon>
          <q-lottie-icon (click)="handleNavigateClick('timeline-management')" width="3rem" height="3rem"
            iconSource="/assets/icons/animation/schedule.json"></q-lottie-icon>
          <q-lottie-icon (click)="openDialogMembersManagement()" width="3rem" height="3rem"
            iconSource="/assets/icons/animation/team.json"></q-lottie-icon>
        </div>
        }
      </div>
    </div>

    <!-- Sprint & Retro -->
    <div class="bg-white rounded-2xl shadow p-4 lg:row-span-1 lg:col-span-2">
      <q-header (handleNavigateClick)="handleNavigateClick('sprint-retro')"
        title="{{'sprint_and_retro'| translate}}"></q-header>
      <div class="flex min-w-fit mt-2">
        <div class="w-full border-r-4 border-solid border-gray-200">
          <h4>
            Sprint 5
          </h4>
          <span class="text-gray-500">2 days until retro</span>
        </div>
        <div class="w-2/3 flex flex-col items-end min-w-fit">
          <span class="text-gray-500">Next retro</span>
          <h4>
            June 25
          </h4>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:col-span-full">
      <div class="bg-white rounded-2xl shadow p-4 min-w-fit">
        <q-header (handleNavigateClick)="handleNavigateClick('planning-document')"
          title="{{'planning_document'| translate}}"></q-header>
      </div>

      <div class="bg-white rounded-2xl shadow p-4 min-w-fit">
        <q-header (handleNavigateClick)="handleNavigateClick('quality-assurance')"
          title="{{'qa_status'| translate}}"></q-header>
        <div class="flex min-w-fit mt-2">
          <div class="w-full flex gap-4 border-r-4 border-solid border-gray-200 p-2 flex-wrap">
            <div class="flex flex-col min-w-fit gap-2">
              <span class="text-gray-500">Test Coverage</span>
              <h4>
                85%
              </h4>
            </div>
            <div class="flex flex-col min-w-fit gap-2">
              <span class="text-gray-500">Bug</span>
              <h4>
                1000000
              </h4>
            </div>
            <div class="flex flex-col min-w-fit gap-2">
              <span class="text-gray-500">Running</span>
              <h4>
                200000
              </h4>
            </div>
          </div>
          <div class="p-2 min-w-fit gap-2 flex flex-col">
            <span class="text-gray-500">Total test cases</span>
            <h4>
              20000
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="grid  grid-cols-1 lg:grid-cols-2 gap-6 lg:col-span-4">
      <div class="bg-white rounded-2xl shadow p-4">
        <q-header (handleNavigateClick)="handleNavigateClick('backend')" title="{{'be_status'| translate}}"></q-header>
      </div>
      <div class="bg-white rounded-2xl shadow p-4">
        <q-header (handleNavigateClick)="handleNavigateClick('frontend')" title="{{'fe_status'| translate}}"></q-header>
      </div>
    </div>

    <!-- Upcoming Meetings -->
    <div class="bg-white rounded-2xl shadow p-4 lg:col-span-2 lg:row-span-2 flex flex-col">
      <q-header (handleNavigateClick)="handleNavigateClick('frontend')"
        title="{{'upcoming_meetings'| translate}}"></q-header>
      <div class="flex flex-col gap-2 mt-2">
        <div class="border-2 rounded-md  border-solid p-2 gap-1 flex items-end">
          <div class="flex gap-2 flex-col w-full">
            <h4 class="line-clamp-1">Sprint planning </h4>
            <p class="text-xs text-gray-700">Today, 2:00 PM</p>
          </div>
          <div class="flex flex-col items-center justify-center min-w-fit">
            <q-lottie-icon class="cursor-pointer" trigger="loop" width="2rem" height="2rem"
              iconSource="/assets/icons/animation/time.json"></q-lottie-icon>
            <small class="text-xs text-gray-700">15 minutes</small>
          </div>
        </div>
        <div class="border-2 rounded-md  border-solid p-2 gap-1 flex flex-col">
          <h4>Sprint planning</h4>
          <p class="text-xs text-gray-700">Today, 2:00 PM</p>
        </div>
      </div>
    </div>

    <!-- Task Progress -->
    <div class="bg-white rounded-2xl shadow p-4 lg:col-span-4">
      <q-header (handleNavigateClick)="handleNavigateClick('task-management')"
        title="{{'task_management'| translate}}"></q-header>

      <div class="flex flex-col gap-2 mt-2 h-60 overflow-auto">
        @if(boardDefault()) {
        @for (item of boardDefault()?.tickets; track item.id) {
        <q-ticket-item [item]="item"></q-ticket-item>
        }
        }@else {
        <div class="flex items-center justify-center w-full h-full">
          {{'data_not_available' | translate}}
        </div>
        }
      </div>

    </div>
  </div>

</div>