 <div class="!bg-tw-secondary-300 flex sticky top-4 right-0 z-10 mb-4 after:w-full after:h-10 after:!bg-tw-secondary-300 after:absolute after:-top-10 ">
  <div class="bg-white w-full h-fit flex border-2 border-solid rounded-xl p-2 items-center justify-between">
    <q-lottie-icon class="cursor-pointer"  (click)="handleClick()" width="2.75rem" height="2.75rem" iconSource="/assets/icons/animation/menu.json"></q-lottie-icon>
  <div class="flex gap-2">
    <q-lottie-icon class="cursor-pointer" width="2.5rem" height="2.5rem" iconSource="/assets/icons/animation/notification.json"></q-lottie-icon>
    <q-lottie-icon class="cursor-pointer" width="2.5rem" height="2.5rem" iconSource="/assets/icons/animation/individual.json"></q-lottie-icon>
  </div>
  </div>
 </div>
