/* You can add global styles to this file, and also import other style files */
@import "@ckeditor/ckeditor5-theme-lark/theme/theme.css";
@import 'ckeditor5/ckeditor5.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #536DFE !important;
  --primary-light-color: #8C9EFF !important;
  --primary-dark-color: #3D5AFE !important;
  --primary-color-text: #ffffff !important; 
}