<div class="border-2 rounded-xl bg-white flex flex-col gap-4 p-4 mt-4 min-w-72">
  <div class="flex items-center justify-between">
    <h3>{{'project_management'| translate}}</h3>
    <q-lottie-icon class="cursor-pointer" width="2.5rem" height="2.5rem" iconSource="/assets/icons/animation/plus.json"
      (click)="handleOpenDialogUpsertProject($event)"></q-lottie-icon>
  </div>
  <div class="grid grid-cols-[repeat(auto-fill,minmax(16rem,1fr))] gap-4">
    @if(projectListResource.hasValue()) {
    @for (item of projectListResource.value().data; track item) {
    <div class="border-2 rounded-xl p-2 flex flex-col cursor-pointer gap-2 w-full"
      (click)="handleNavigateToProjectDetail($event, item.id)">
      <div class="flex items-center justify-between">
        <h4>{{item.name}}</h4>
        <span class="text-3xl" tooltipPosition="bottom" [pTooltip]="projectStatusOptions()[item.status].description"
          tooltipEvent="hover">{{projectStatusOptions()[item.status].icon}}</span>
      </div>
      <div class="flex flex-col">
        <div class="flex items-center justify-between">
          <div class="flex gap-1 items-end">
            <q-lottie-icon class="cursor-pointer" width="2.3rem" height="2.3rem"
              iconSource="/assets/icons/animation/team.json"></q-lottie-icon>
            <small class="mb-1">{{item?.participants?.length}}</small>
          </div>
          <div class="flex gap-1 items-center">
            <q-lottie-icon (click)="handleOpenDialogUpsertProject($event, item)" class="cursor-pointer" width="2.3rem"
              height="2.3rem" iconSource="/assets/icons/animation/edit.json"></q-lottie-icon>
            <q-lottie-icon (click)="handleDeleteProject($event, item.id)" class="cursor-pointer" width="2.3rem"
              height="2.3rem" iconSource="/assets/icons/animation/delete.json"></q-lottie-icon>
          </div>

        </div>

        <div class="flex gap-1 items-end">
          <q-lottie-icon class="cursor-pointer" width="2.3rem" height="2.3rem"
            iconSource="/assets/icons/animation/calendar.json"></q-lottie-icon>
          <small>{{item.startDate|date:'yyyy-MM-dd'}} ~ {{item.endDate|date:'yyyy-MM-dd'}}</small>
        </div>
      </div>
      <p-progressbar [ariaLabel]="item.projectProgress" [value]="item.projectProgress" unit="%" />
    </div>
    }
    }
  </div>
</div>