<div>
  <div class="flex min-w-72 items-center justify-between py-4">
    <h3>{{'add_project_header' | translate}}</h3>
    <q-lottie-icon class="cursor-pointer" width="2rem" height="2rem" iconSource="/assets/icons/animation/close.json"
      (click)="closeDialog()"></q-lottie-icon>
  </div>
  <form [formGroup]="addProjectForm" class="flex gap-6 flex-col mt-4">
    <p-floatlabel variant="on">
      <input [autofocus]="true" formControlName="name" class="w-full" type="text" pInputText />
      <label for="projectName">{{'project_name' | translate}}</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <textarea [ngClass]="{ 'p-filled': addProjectForm.get('description')?.value }" style="resize: none"
        id="projectDescription" formControlName="description" rows="3" class="w-full" pInputTextarea></textarea>
      <label for="projectDescription">{{'project_description' | translate}}</label>
    </p-floatlabel>
    <q-date-range name="title" formControlName="projectTime" endDateLabel="{{'project_end_date'|translate}}"
      startDateLabel="{{'project_start_date'|translate}}"></q-date-range>

    <p-floatlabel variant="on">
      <p-multiselect formControlName="participants" [options]="allUserOptions.value().data" appendTo="body"
        inputId="participants" [options]="[]" optionLabel="label" optionValue="value" class="w-full" display="chip">
        <ng-template let-user #item>
          <div class="flex items-center gap-2">
            <p-avatar [image]="user.record.avatar" shape="circle" [ariaLabel]="user.name"></p-avatar>
            <div>{{ user.label }}</div>
          </div>
        </ng-template>
        <ng-template #dropdownicon>
          <q-lottie-icon class="absolute w-8 h-8 top-0 right-1" iconSource="/assets/icons/animation/team.json" />
        </ng-template>
        <ng-template #filtericon>
          <q-lottie-icon class="absolute w-7 h-7 top-[-7px] right-[-3px]"
            iconSource="/assets/icons/animation/search.json" />
        </ng-template>
      </p-multiselect>
      <label for="participants">{{'participants' | translate}}</label>
    </p-floatlabel>
    <div class="flex items-center justify-end">
      <p-button (click)="handleSubmit()">{{(project()?.id ? 'save':'add_project_submit_button') | translate}}</p-button>
    </div>
  </form>
</div>